# Voice control pipeline
openai-whisper
sounddevice
scipy
ollama
llvmlite==0.43.0
numba==0.60.0

# Gesture teleop
numpy<2.0.0
protobuf<5.0.0
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
mediapipe
tensorflow
